
body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

html, body {
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header, .projects-container {
    width: 100%;
    max-width: 1200px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #24262b;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, z-index 0.3s ease;
    position: relative;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project h1 {
    font-size: 24px;
    margin: 10px 0;
}

.description {
    text-align: center;
    font-size: 16px;
}

#by {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.project .img {
    display: block;
}

.project .gif {
    display: none;
}

.project:hover {
    transform: scale(1.5);
    z-index: 1;
}

.project:hover .img {
    display: none;
}

.project:hover .gif {
    display: block;
}
