body{
    background-color: black;

}
#DVD{
    height: 52px;
    width: 100px;
    position: absolute;
    background-image: url(./DVD.png);
    display: block;
}
#DVD1{
    height: 52px;
    width: 100px;
    position: absolute;
    background-image: url(./DVD1.png);
    display: none;
    
}
#DVD2{
    height: 52px;
    width: 100px;
    position: absolute;
    background-image: url(./DVD2.png);
    display: none;
    
}
#DVD3{
    height: 52px;
    width: 100px;
    position: absolute;
    background-image: url(./DVD3.png);
    display: none;
    
}
